[package]
name = "check-size"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
strip = "debuginfo"

[dependencies]
noto-sans-mono-bitmap = { path = "../", features = ["all"] }
